<div class="home-page container-fluid">

  <div class="row mt-3">
    <div class="col-md-8">
      <mat-card class="carousel">
        <mat-card-content>
          <app-carousel></app-carousel>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="p-3 featured-listing">
        <mat-card-title>Featured Listings</mat-card-title>
        <mat-card-content class="list">
          <mat-list role="list">
            <mat-list-item role="listitem">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac enim consectetur.
            </mat-list-item>
            <mat-list-item role="listitem">
              The phrase "Lorem ipsum dolor sit amet consectetuer" appears in Microsoft Word online Help.
            </mat-list-item>
            <mat-list-item role="listitem">
              This phrase has the appearance of an intelligent Latin idiom. Actually, it is nonsense
            </mat-list-item>
            <mat-list-item role="listitem">
              There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain
            </mat-list-item>

          </mat-list>
        </mat-card-content>
        <div class="row mt-3 buttons">
          <div class="col-md-12 d-flex justify-content-end">
            <button mat-raised-button color="primary" class="me-2">View Details</button>
            <button mat-raised-button color="accent">Mark as Favorite</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <section class="pt-4 pb-4">
    <h2>All Listings</h2>
    <div class="listings-container">
      <mat-card *ngFor="let apartment of apartments" class="listing">
        <img src="assets/images/{{apartment.img}}.jpg" alt="">
        <mat-card-content>
          <h3 class="mt-3 mb-0">{{ apartment.title }}</h3>
          <p>{{ apartment.description }}</p>
        </mat-card-content>
        <div class="row mb-3 mt-3">
          <div class="col-md-12 d-flex justify-content-end">
            <button mat-raised-button (click)="viewDetails(apartment)" class="me-2">View Details</button>
            <button mat-raised-button color="accent" (click)="markAsFavorite(apartment)" class="me-3">Mark as Favorite</button>
          </div>
        </div>
      </mat-card>
    </div>
  </section>
</div>