.home-page {
  font-family: Roboto, Arial, sans-serif;
}

.listings-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.listing {
  flex: 1 1 calc(30% - 20px);
  min-width: 250px;
  text-align: center;
}

.img {
  img {
    height: 300px;
  }
}