.auth-container {
  min-height: calc(100vh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  padding: 2rem;
  margin-top: -100px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .auth-card {
    margin-top: 0;
    width: 90%;
  }
}