.auth-container {
  min-height: calc(100vh - 65px);
  
}

.auth-card {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .auth-card {
    margin-top: 0;
    width: 90%;
  }
}